strict_env
has python3.12

if ! [ -f "venv/bin/python3.12" ]; then
  python3.12 -m venv venv --clear --copies
  touch requirements.txt
fi

source venv/bin/activate

if ! venv/bin/python -c "import uv" &> /dev/null; then
  venv/bin/python -m pip install -U pip
  venv/bin/python -m pip install uv
fi

watch_file requirements.in requirements-dev.in

if [ "requirements.in" -nt "requirements.txt" ]; then
  venv/bin/python -m uv pip compile requirements.in -o requirements.txt
  touch requirements.txt
  touch requirements-dev.in
fi

if [ "requirements-dev.in" -nt "requirements-dev.txt" ] || [ "requirements.txt" -nt "requirements-dev.txt" ]; then
  venv/bin/python -m uv pip compile requirements-dev.in -o requirements-dev.txt
  touch requirements-dev.txt
fi

watch_file requirements.txt requirements-dev.txt

if [ "requirements.txt" -nt "venv" ] || [ "requirements-dev.txt" -nt "venv" ]; then
  venv/bin/python -m uv pip install --no_compile -r requirements-dev.txt
  touch venv
fi

watch_file venv